<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{ message }}

<div>
    <h1 id="1" onclick="alert('HEJ')">HEJ</h1>
</div>
</body>
<script>
    const myDiv = document.getElementById('1');

    fetch('http://localhost:8080/api/home')
        .then((response) => response.json())
        .then((data) => {
            myDiv.innerText = data.message
        })
</script>
</html>